body{
	font-family: Arial;
	line-height: 1,6;
}
header{
	background: black;
	color: white;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0px;
	z-index: 1000;
}
header h1{
	font-size: 25px;
}
nav ul{
	list-style: none;
	display: flex;
}
nav ul li{
	margin-left: 20px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	transition: 0.4s;
}
nav ul li a:hover{
	color: #ff9300;
}
.hero{
	height: 100vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
}
.hero h2{
	font-size: 40px;
	margin-bottom: 10px;
}
.hero p{
	font-size: 19px;
	max-width: 600px;
}
section{
	padding: 70px 20px;
}
#about{
	background: #f4f4f4;
}
#contact{
	background: #ddd;
}
footer{
	text-align: center;
	padding: 20px;
	background: #333;
	color: white;
}
.porto{
	text-decoration: none;
	background-color: #333;
	padding: 10px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 6px;
	color: #ddd;
	display: flex;
	justify-content: center;
}
.porto:hover{
	color: #ff9300;
}
